.text-box{
    position: relative;
    top: 800px;
    left: 60px;
    width: 1800px;
    height: 360px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 12px;
    font-family: "gameboy";

}

.text-box > p{
    margin-top: 64px;
    margin-bottom: 64 px;
    margin-left: 64px;
    margin-right: 64px;
    font-size: 50px;
    color: var(--font-color);
    
}