@import 'tailwindcss';

@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.breathe {
  animation: breathe 3s ease-in-out infinite;
}

.World_1{
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid black; 
}

.line{
  border: 2px solid aqua;
  border-radius: 20px;
  font-size: medium;
  padding: 8px;
  line-height: 1.5;
  box-sizing: border-box;
  outline: none;
}